/* Home Container */
.home-container {
  height: 100%;
}

.content-container {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px;
};


/* Sidebar/Menubar */
.sidebar {
  height: 100%;
  max-width: 250px;
}

.sidebar .sidebar-container {
  height: 100%;
  width: 100%;
  max-width: 250px;
}

.sidebar .sidebar-nav {
  height: 100%;
  overflow-y: scroll;
}

.sidebar .title {
  color: var(--primary-accent-color);
  font-size: 21px;
  font-weight: bold;
  padding: 20px;
}


/* Card */
.card {
  background-color: #6b6b6b;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
}

.card .title {
  color: #f5f5f5;
  font-size: 15px;
  font-weight: bold;
}

.card .number {
  font-size: 28px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.card .message {
  font-size: 14px;
}

.card p {
  color: #ffffff;
  word-wrap: break-word;
}


/* Graph */
.graphs-container {
  margin-top: 20px;
}

.graphs-container .graph {
  background-color: #f1f2f6;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

.graphs-container .title {
  font-size: 18px;
  font-weight: bold;
}


/* Table */
.table-container {
  background-color: #f1f2f6;
  border-radius: 5px;
  padding: 20px;
}

.table-container .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.table-container .level {
  border-radius: 4px;
  padding: 2px;
}

.table-container .level-text {
  color: #ffffff;
  font-size: 10.5px;
  font-weight: bold;
}

.table-container .rs-table, .rs-table-row, .rs-table-row-header, .rs-table-cell-content {
  background-color: #f1f2f6 !important;
}

.table-container .rs-table-row {
  border-bottom: 0.8px solid #dbdbdb;
}


/* Footer */
.footer {
  margin-top: 20px;
  text-align: center;
}

.footer .link {
  font-size: 14px;
}
