@media only screen and (max-width: 480px) {
  body {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 100%;
  }

  .home-container .row {
    height: initial;
  }

  /* Sidebar */
  .sidebar .sidebar-container {
    display: none;
  }
}
