/* Main Styling File */

@import url('./desktop.css');
@import url('./mobile.css');

/* Font */
@import url('https://fonts.googleapis.com/css?family=Nobile&display=swap');

/* Rsuite lib styling */
@import url('./rsuite/rsuite-default.min.css');


/* Theme */
:root {
  --background-color: #ffffff;
  --primary-accent-color: #333333;
  --layout-padding: 55px;
  --layout-secondary-padding: 25px;
}

html {
  height: 100%;
}

body {
  background-color: var(--background-color);
  height: 100%;

  /* font */
  color: var(--primary-accent-color);
  font: 14px 'Nobile', sans-serif, Helvetica, Arial;

  /* margin and padding */
  margin: 0 auto;
}

a {
  color: #0A74D1;
  text-decoration: none;
}
